appenv
__pycache__
*.py[cod]
*$py.class
*.sqlite3
.Python
build/
downloads/
lib/
lib64/
.installed.cfg
pip-log.txt
*.log
local_settings.py
.python-version
.vscode
fullstackpy/palvelin/migrations
__init__.py